body {
    height: 100vh;
    width: 100%;
    background: rgb(52,49,107);
background: linear-gradient(90deg, rgba(87,63,109,1) 0%, rgba(149,133,163,1) 100%, rgba(87,63,109,1) 100%);
    padding-inline-start: 0;
    margin: 0;
}

.topContainer {
    text-align: center;
    padding-bottom:20px ;
    text-transform: capitalize;

}

#searchDisplay {

    display:flex;
    flex-direction: row;
    flex-wrap: center;
    align-items: center;
    justify-content: center;
    margin: 0 ;
    font-size: 15px;
    padding-top: 50px;
}


#deckDisplay {
    background-color: rgb(194,194,194, 0.6);
    padding:1px;
    color: rgb(8, 11, 10);
    text-align: center;
    border-radius: 10px;
    width: 190px;
    text-transform:capitalize;
}

#gridDisplay {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    grid-gap: 15px;
    justify-content: center;
   
}

.bottomContainer {
    padding:50px ;
    margin: auto;
}

.image {
    height:100px;
    width: 100px;
}

#title {
    text-align: center;
}

.pokemonInfo {
    text-align: center;
    font-size: 15px;
    background-color: rgb(190, 200, 199,0.5);
    width: 150px;
    border-radius: 10px;
    border-image: linear-gradient(120deg, rgb(145, 90, 18), rgb(238, 193, 33)) 1;
    border-width: 6px;
    border-style: solid;
    
}

#searchImage {
height: 170px;
}

#pokemonName{
    width: 250px;
}

@media all and (max-width: 500px) {
    #deckDisplay {
        width: 140px;
    }
    #gridDisplay{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    grid-gap: 15px;
    }
    .pokemonInfo{
        font-size: 10px;
}
#searchImage {
    height: 140px;
}
#pokemonName {
    width: 190px;
}
}